<section class="footer-section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2>Get in Touch</h2>
      </div>

      <div class="col-md-6">
        <h5>Social Media Sites</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="https://www.facebook.com/piodelpilarpage" target="_blank">
              <img src="{{ directory }}/images/4494479.png" width="50px" />
              BARANGAY PIO DEL PILAR
            </a>
          </li>
          <li class="list-group-item">
            <a href="https://www.facebook.com/SKPDPOFFICIAL" target="_blank">
              <img src="{{ directory }}/images/4494479.png" width="50px" />
              SK BARANGAY PIO DEL PILAR
            </a>
          </li>
        </ul>
      </div>

      <div class="col-md-6">
        <h5>Main Office</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Address: Washington Street, Pio Del Pilar, Makati City 1230 Metro Manila</li>
          <li class="list-group-item">Email: bpiodelpilarsecoffice2020@gmail.com</li>
          <li class="list-group-item">Tel. No.: (02) 8400-7191</li>
        </ul>
      </div>

      <div class="col-12">
        <iframe src="https://www.google.com/maps/embed?pb=..." width="100%" height="350" style="border:0;" allowfullscreen></iframe>
      </div>

      <div class="col-12 mt-5">
        <hr />
      </div>

      <div class="col-12 text-center">
        <img src="{{ directory }}/images/makati_logo.png" width="75px" />
        <img src="{{ directory }}/images/pdp_logo.png" width="75px" />
        <img src="{{ directory }}/images/sk_pdp_logo.png" width="75px" />
        <p>Copyright © 2025 BARANGAY PIO DEL PILAR</p>
      </div>
    </div>
  </div>
</section>
